<%= form_for(@experience) do |f| -%>
  <%- if @experience.errors.any? -%>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") -%> prohibited this experience from being saved:</h2>

      <ul>
      <%- @experience.errors.full_messages.each do |message| -%>
        <li><%= message -%></li>
      <%- end -%>
      </ul>
    </div>
  <%- end -%>

  <div class="field">
    <%= f.label t('experiences.addition.title') -%><br>
    <%= f.text_field :title, required: true -%>
  </div>

  <div class="field">
    <%= f.label t('experiences.addition.pseudonym') -%><br>
    <%= f.text_field :pseudonym, required: true -%>
  </div>

  <div>
    <span class="enrichment"><%= t('experiences.addition.more_information.legend') -%></span>
  </div>

  <div class="extra">
    <div class="field">
      <%= f.fields_for :cocktails do |builder| -%>
        <%= builder.label :substance, t('experiences.addition.more_information.substance') -%>
        <%= builder.text_field :substance, placeholder: t('experiences.addition.more_information.substance_placeholder') -%>
        <%= builder.label :dosage, t('experiences.addition.more_information.dosage') -%>
        <%= builder.text_field :dosage, placeholder: t('experiences.addition.more_information.dosage_placeholder') -%>
      <%- end -%>
    </div>

    <div class="set-and-setting">
      <p><%= t('experiences.addition.set_setting_short_description') -%></p>
      <p><%= t('experiences.addition.set_setting_long_description_html') -%></p>
    </div>

    <div class="field">
      <%= f.label t('experiences.addition.more_information.set') -%>
      <%= f.text_field :set -%>
    </div>

    <div class="field">
      <%= f.label t('experiences.addition.more_information.setting') -%>
      <%= f.text_field :setting -%>
    </div>
  </div>

  <div id="experience" class="field">
    <%= f.label t('experiences.addition.body') -%><br>
    <%= f.text_area :body, cols: 40, rows: 20, required: true -%>
  </div>

  <%- if action_name == 'new' -%>
    <div class="field">
      <%= gotcha_error -%>
      <%= gotcha -%>
    </div>
  <%- end -%>

  <div class="field">
    <%= t('experiences.addition.markdown_formatting_html', link: link_to('Markdown', 'https://daringfireball.net/projects/markdown/', target: '_blank')) -%>
    <br><br>
  </div>

  <div class="actions">
    <%= f.hidden_field :locale, value: I18n.locale -%>
    <%= f.submit t('experiences.addition.submit') -%>
  </div>
<%- end -%>
