<%- unless @experiences.empty? -%>
  <div class="search">
    <%= form_tag(search_path, method: :get) do -%>
      <%= text_field_tag(:query) -%>
      <%= submit_tag("Buscar")%>
    <%- end -%>
  </div>
  <% @experiences.each do |experience| -%>
    <li class="experience">
      <%= l(experience.created_at.to_date, format: :short).upcase -%>
      <%= link_to (truncate(experience.title.split.map(&:capitalize).join(' '), length: 45, omission: '...')), experience_path(experience) -%> por
      <%= experience.pseudonym -%>
    </li>
  <%- end -%>
  <%= will_paginate @experiences, page_links: false -%>
<%- else -%>
  <div class="no-data">
    <p>Wow. Aún no tenemos experiencias.</p>
    <p><%= link_to '¿Querés empezar por contarnos la tuya?', new_experience_path, class: 'create' -%></p>
  </div>
<%- end -%>
