<%- unless @experiences.empty? -%>
  <%- if flash[:notice] -%>
    <p class="notice"><%= flash[:notice] -%></p>
  <%- end -%>
  <div class="search">
    <%= form_tag(search_path, method: :get) do -%>
      <%= text_field_tag(:query) -%>
      <%= hidden_field_tag(:locale, I18n.locale) -%>
      <%= submit_tag t('experiences.search') -%>
    <%- end -%>
  </div>
  <div class="categories" style="margin-bottom:10px;">
    <ul>
      <%- Category.all.each do |category| -%>
        <li style="display:inline;font-weight:bold;border:1px solid black;padding:2px;margin-right:10px;">
          <%= link_to category.name, category_path(category) -%>
        </li>
      <%- end -%>
    </ul>
  </div>
  <div>
    <% @experiences.each do |experience| -%>
      <li class="experience">
        <%= l(experience.created_at.to_date, format: :short).upcase -%>
        <%= link_to truncate_and_titleize(experience.title), experience_path(experience), title: titleize(experience.title) -%>
        <%= t('psychlopedia.misc.by') -%>
        <%= experience.pseudonym -%>
        <%= link_to t('experiences.comments_placeholder'), disqus_thread_url(experience), style: 'font-size: .8em;' -%>
      </li>
    <%- end -%>
    <%= will_paginate @experiences, page_links: false -%>
  </div>
<%- else -%>
  <div class="no-data">
    <p><%= t('experiences.no_data') -%></p>
    <p><%= link_to t('experiences.no_data_invitation'), new_experience_path, class: 'create' -%></p>
  </div>
<%- end -%>
