<%- unless @experiences.empty? -%>
  <%- if flash[:notice] -%>
    <p class="notice"><%= flash[:notice] -%></p>
  <%- end -%>
  <div class="search">
    <%= form_tag(search_path, method: :get) do -%>
      <%= text_field_tag(:query) -%>
      <%= hidden_field_tag(:locale, I18n.locale) -%>
      <%= submit_tag t('experiences.search') -%>
    <%- end -%>
  </div>
  <% @experiences.each do |experience| -%>
    <li class="experience">
      <%= l(experience.created_at.to_date, format: :short).upcase -%>
      <%= link_to truncate_and_titleize(experience.title), experience_path(experience), title: titleize(experience.title) -%>
      <%= t('psychlopedia.misc.by') -%>
      <%= experience.pseudonym -%>
    </li>
  <%- end -%>
  <%= will_paginate @experiences, page_links: false -%>
<%- else -%>
  <div class="no-data">
    <p><%= t('experiences.no_data') -%></p>
    <p><%= link_to t('experiences.no_data_invitation'), new_experience_path, class: 'create' -%></p>
  </div>
<%- end -%>
