<%- if @experience.present? -%>
  <div>
    <div class="thingo">
      <h1 class="title" title="<%= titleize(@experience.title)-%>">
        <%= truncate(titleize(@experience.title), length: 35) -%>
      </h1>
      <h2>
        <%= @experience.human_readable_rating -%>
      </h2>
    </div>
    <h3 class="whoandwhen"><%= @experience.pseudonym -%> &#8669; <%= l @experience.created_at.to_date, format: :long %></h3>
    <div class="etxt">
      <%= markdown(truncate(@experience.body, length: 850, omission: ' [...]')) -%>
      <span class="keep_reading"><%= link_to t('experiences.random.keep_reading'), experience_path(@experience) -%></span>
    </div>
  </div>
<%- end -%>
