<%- if @experience.present? -%>
  <div>
    <%- if flash[:notice] -%>
      <p class="notice"><%= flash[:notice] -%></p>
    <%- end -%>
    <div class="thingo">
      <h1 class="title"><%= titleize(@experience.title) -%></h1><h2><%= @experience.human_readable_rating -%></h2>
    </div>
    <h3 class="whoandwhen"><%= @experience.pseudonym -%> &#8669; <%= l @experience.created_at.to_date, format: :long -%></h3>
    <%- if @experience.cocktails.present? -%>
      <%- @cocktail = @experience.cocktails.first -%>
      <p style="font-size:1em;"><span class="emphasis">Sustancia:</span> <%= @cocktail.substance -%></p>
      <p style="font-size:1em;"><span class="emphasis">Dose:</span> <%= @cocktail.dosage -%></p>
    <%- end -%>
    <%- if @experience.set.present? -%>
      <p style="font-size:1em;"><span class="emphasis">Set:</span> <%= @experience.set -%></p>
    <%- end -%>
    <%- if @experience.setting.present? -%>
      <p style="font-size:1em;margin-bottom:20px;"><span class="emphasis">Setting:</span> <%= @experience.setting -%></p>
    <%- end -%>
    <div class="etxt">
      <%= markdown(@experience.body) -%>
    </div>
    <% if @experience.is_licensed -%>
      <div class="licensing">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.es" title="Esta obra est치 bajo una Licencia Creative Commons Atribuci칩n 4.0 Internacional" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />
      </div>
    <%- end -%>
    <hr>
    <div class="ratings">
      <%= form_for @experience do |f| -%>
        <%= f.label :hearts, 'Calific치 esta experiencia (1 al 5): ' -%>
        <%= f.number_field :hearts, value: String.new, min: 1, max: 5 -%>
        <%= f.submit 'Puntuar' -%>
      <%- end -%>
    </div>
    <div id="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'psychlopedia';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Por favor, activ치 Javascript para poder ver los comentarios.</noscript>
      <a href="http://disqus.com" class="dsq-brlink">Comentarios provistos por <span class="logo-disqus">Disqus</span></a>
    </div>
  </div>
<%- end -%>
