<%- if @experience.present? -%>
  <div>
    <%- if flash[:notice] -%>
      <p class="notice"><%= flash[:notice] -%></p>
    <%- end -%>
    <div class="thingo">
     <h1 class="title"><%= @experience.title -%></h1>
     <h2><%= @experience.human_readable_rating -%></h2>
    </div>
    <h3 class="whoandwhen"><%= @experience.pseudonym -%> &#8669; <%= l @experience.created_at.to_date, format: :long %></h3>
    <div class="etxt">
      <%= markdown(@experience.body) -%>
    </div>
    <div class="ratings">
      <%= form_for @experience do |f| -%>
        <%= f.label :hearts, 'Calificá esta experiencia: ' -%>
        <%= f.number_field :hearts, value: String.new, min: 1, max: 5 -%>
        <%= f.submit 'Puntuar' -%>
      <%- end -%>
    </div>
    <div id="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'psychlopedia';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Por favor, activá Javascript para poder ver los comentarios.</noscript>
      <a href="http://disqus.com" class="dsq-brlink">Comentarios provistos por <span class="logo-disqus">Disqus</span></a>
    </div>
  </div>
<%- end -%>
