<%- if @experience.present? -%>
  <div>
    <%- if flash[:notice] -%>
      <p class="notice"><%= flash[:notice] -%></p>
    <%- end -%>
    <%- if session[:admin] -%>
      <p style="margin-bottom:5px;"><%= link_to '~Editar', edit_experience_path(@experience) -%></p>
    <%- end -%>
    <div class="thingo">
      <h1 class="title" title="<%= titleize(@experience.title) -%>">
        <span class="self"><%= truncate_and_titleize(@experience.title) -%></span>
      </h1>
      <h2 title="<%= @experience.numeric_rating -%>"><%= @experience.human_readable_rating -%></h2>
    </div>
    <h3 class="whoandwhen">
      <%= t('psychlopedia.misc.by') -%>
      <%= @experience.pseudonym -%> &#8669;
      <%= l @experience.created_at.to_date, format: :long -%>
      <%- if @experience.categories.present? -%>
        <%- @experience.categories_names.each do |name| -%>
          <span class="category"><%= name %></span>
        <%- end -%>
      <%- end -%>
    </h3>
    <div style="margin-bottom:20px;">
      <%- if @experience.cocktails.present? -%>
        <%- @cocktail = @experience.cocktails.first -%>
        <p style="font-size:1em;"><span class="emphasis"><%= t('experiences.show.substance') -%>:</span> <%= @cocktail.substance -%></p>
        <p style="font-size:1em;"><span class="emphasis"><%= t('experiences.show.dosage') -%>:</span> <%= @cocktail.dosage -%></p>
      <%- end -%>
      <%- if @experience.set.present? -%>
        <p style="font-size:1em;"><span class="emphasis"><%= t('experiences.show.set')%>:</span> <%= @experience.set -%></p>
      <%- end -%>
      <%- if @experience.setting.present? -%>
        <p style="font-size:1em;"><span class="emphasis"><%= t('experiences.show.setting') -%>:</span> <%= @experience.setting -%></p>
      <%- end -%>
    </div>
    <div class="etxt">
      <%= markdown(@experience.body) -%>
    </div>
    <%- if @experience.source.present? && @experience.source != 'psychlopedia' -%>
      <div class="source">
        <p><%= t('experiences.show.source') -%>: <%= @experience.source -%></p>
      </div>
    <%- end -%>
    <% if @experience.is_licensed -%>
      <div class="licensing">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.es" target="_blank">
          <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
        </a>
        <br>
      </div>
    <%- end -%>
    <hr>
    <div class="ratings">
      <%= form_for @experience do |f| -%>
        <%= f.label :hearts, t('experiences.show.rate_experience') -%>:
        <%= f.number_field :hearts, value: String.new, min: 1, max: 5, required: true -%>
        <%= f.submit t('experiences.show.submit_rate') -%>
      <%- end -%>
    </div>
    <div id="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'psychlopedia';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript><%= t('experiences.show.no_script') -%></noscript>
      <a href="http://disqus.com" class="dsq-brlink"><%= t('experiences.show.disqus_placeholder') -%> <span class="logo-disqus">Disqus</span></a>.
    </div>
  </div>
<%- end -%>
