<div class="about">
  <p>
    <span class="self emphasis">Psychlopedia</span> es un archivo digital de experiencias bajo
    <%= link_to 'estados alterados de la conciencia', 'https://es.wikipedia.org/wiki/Estado_alterado_de_conciencia', target: '_blank' -%>
    en español.
  </p>
  <p>
    Podés <%= link_to 'crear', new_experience_path -%>, <%= link_to 'leer', experiences_path -%> y <%= link_to 'buscar', experiences_path -%>
    experiencias en este repositorio; tanto si querés compartir un relato como buscar en nuestra compilación y leer sobre el carácter subjetivo
    de una experiencia inducida por sustancias o tecnologías psicoactivas, apuntamos a contribuir en ambos casos.
  </p>
  <p>
    Podés leer más sobre Psychlopedia y la creación y valoración de experiencias en nuestra <%= link_to 'guía de estilo', style_path -%>.
  </p>
  <p>
    Esta herramienta estratégica de farmacovigilancia y control post-mercado negro está (siendo) construída por psiconautas
    para todas las personas interesadas en la exploración de los aspectos cualitativos de la auto-experimentación.
    Nos alegra recibir cualquier forma y cantidad de feedback constructivo; por favor,
    <%= mail_to 'airOnGString@gmail.com', "no dudes de ponerte en contacto con nosotros", subject: "Hola, Psychlopedia!" -%>.
  </p>
  <p>
    <a href="https://twitter.com/Psiclopedia" class="twitter-follow-button" data-size="large" data-show-count="true" data-lang="es">Seguí a @Psiclopedia</a>
  </p>
</div>
