<div class="about">
  <p>
  <span class="self emphasis">Psychlopedia</span> es un archivo de <span class="emphasis">experiencias</span> bajo <%= link_to 'estados alterados de la conciencia', 'https://es.wikipedia.org/wiki/Estado_alterado_de_conciencia', target: '_blank' -%> en español. Podés <%= link_to 'crear', new_experience_path -%>, <%= link_to 'leer', experiences_path -%> y <%= link_to 'buscar', experiences_path -%> experiencias en este repositorio; tanto si querés compartir un relato como si estás buscando información sobre su carácter subjetivo, Psychlopedia está para servir esos propósitos.
  </p>
  <p>
    A diferencia de los clásicos e imponentes <%= link_to 'Erowid Experience Vaults', 'https://www.erowid.org/experiences/', target: '_blank' -%>, Psychlopedia usa un sistema abierto de moderación y valuación de experiencias. Podés <%= link_to 'leer más al respecto por acá', style_path -%>.
  </p>
  <p>
    Esta herramienta estratégica de farmacovigilancia está construída por psiconautas para psiconautas.
    Nos encanta conversar, y cualquier tipo de feedback es felizmente recibido; por favor,
      <%= mail_to 'airOnGString@gmail.com', 'no dudes en escribirnos', subject: "kestapasando" -%>.
  </p>
</div>
