<div class="privacy">
  <h3>Privacidad</h3>

  <p>
    Gracias por visitar <span class="emphasis">Psychlopedia</span>. Queremos contarte que recorrer y participar en nuestros 
    archivos de experiencias no implica un problema para tu privacidad y seguridad online. Este recurso es visitado tanto por 
    usuarios de sustancias psicoactivas, agencias gubernamentales de salud pública, educadores, médicos, padres e hijos 
    y, esencialmente, quien tenga interés por el contenido de estos textos.
  </p>
  
  <p>
    Al igual que la mayoría de los sitios web que visitás a diario, Psychlopedia 
    guarda <%= link_to 'registros', 'https://es.wikipedia.org/wiki/Log_(registro)' -%> estándares de cada visita que recibe, 
    que constan, en nuestro caso, de las <%= link_to 'direcciones IP', 'https://es.wikipedia.org/wiki/Direcci%C3%B3n_IP' -%> de 
    las máquinas que acceden a nuestro sitio y a qué páginas acceden. Esta información se guarda temporalmente para proveernos de 
    estadísticas útiles sobre el funcionamiento general del sitio, y no se trata de información de acceso público, sino que es accedida 
    sólo por nuestro software de manera automática o por staff técnico. En Psychlopedia apoyamos fuertemente el uso y el cuidado 
    responsable de la información y tomamos todos los recaudos para evitar que la información recolectada de nuestros usarios no pueda 
    usarse de ninguna manera para comprometer su privacidad y su seguridad.
  </p>

  <p>
    También, guardamos una <%= link_to 'cookie', 'https://es.wikipedia.org/wiki/Cookie_(inform%C3%A1tica)' -%> en tu navegador para 
    recordarnos que ya nos visitaste en el pasado, y así, poder brindarte una mejor experiencia en el sitio.
  </p>

  <p>
    Actualmente, no se sirven publicidades de ningún tipo en ninguna sección de Psychlopedia, y planeamos seguir así, por siempre.
    Sin embargo, usamos los servicios de Google Analytics para entender mejor las demográficas de nuestros usuarios. Pero, por supuesto 
    que podés elegir 
    <%= link_to 'no participar de estas estadísticas', 'https://tools.google.com/dlpage/gaoptout' -%>.
  </p>

  <p>
    Alentamos a nuestros usuarios a que tomen las medidas necesarias para protegerse de las violaciones a la privacidad.
  </p>
  
  <h3>Pseudonimidad</h3>

  <p>
    Las experiencias pueden crearse pseudo-anónimamente en Psychlopedia; es decir, la información del autor jamás es publicada, a menos 
    que esa sea su intención. El staff de Psychlopedia está trabajando en técnicas para dificultar e impedir el rastreo de quienes participan 
    activamente en este sitio; en particular, intentamos hacer difícil relacionar una dirección IP en nuestros registros con la creación de una 
    experiencia cambiando internamente los <%= link_to 'metadatos', 'https://es.wikipedia.org/wiki/Metadato' -%> de las experiencias. 
  </p>

  <h4>Herramientas de anonimización y seguridad</h4>

  <p>
    Psychlopedia recomienda el uso de aplicaciones y tecnologías que fortalezcan la seguridad de los sistemas informáticos que usamos para
    nuestras interacciones cotidianas. Las siguientes son las piezas de software que más nos enorgullecen en su performance:
  </p>

  <p class="anon">
    <%= link_to 'Tails', 'https://es.wikipedia.org/wiki/The_Amnesic_Incognito_Live_System', class: 'anon-links' -%>
    The Amnesic Incognito Live System o Tails es una distribución Linux diseñada para preservar la privacidad y el anonimato. Es la siguiente 
    iteración de desarrollo de la distribución Incognito. Está basada en Debian GNU/Linux, con todas las conexiones salientes forzadas a salir 
    a través de Tor. El sistema está diseñado para ser arrancado como un Live CD o USB sin dejar ningún rastro en el almacenamiento local a 
    menos que se indique explícitamente.
  </p>
  <p class="anon"> 
    <%= link_to 'Tor', 'https://es.wikipedia.org/wiki/Tor', class: 'anon-links' -%>
    The Onion Router, en su forma abreviada Tor, es un proyecto cuyo objetivo principal es el desarrollo de una red de comunicaciones distribuida 
    de baja latencia y superpuesta sobre internet en la que el encaminamiento de los mensajes intercambiados entre los usuarios no revela su identidad, 
    es decir, su dirección IP (anonimato a nivel de red) y que, además, mantiene la integridad y el secreto de la información que viaja por ella. Por 
    este motivo se dice que esta tecnología pertenece a la llamada darknet o red oscura también conocida con el nombre de deep web o web profunda.
  </p>
</div>
