<!DOCTYPE html>
<html>
<head>
  <title>Psychlopedia</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="Psychlopedia es un repositorio de experiencias psicodélicas y otros estados alterados de la conciencia.">
  <meta name="keywords" content="psychedelics psychedelic experience pharmacovigillance storytelling harm reduction psicodelica psicodelicos experiencia">
  <meta name="author" content="5vankmajer">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
  <div id="container" class="cf">
    <header id="header">
      <nav>
        <ul>
          <li><%= link_to 'Experiencias', experiences_path, accesskey: 'e' -%></li>
          <li><%= link_to 'Al azar', random_url, accesskey: 'r' -%></li>
          <li><%= link_to 'Agregá una', new_experience_path, accesskey: 'c' -%></li>
          <li><%= link_to 'Guía de Estilo', style_guide_path, accesskey: 'g', class: 'guides' -%></li>
          <li><%= link_to '¿Qué es esto?', about_path, class: 'what' %></li>
        </ul>
      </nav>
    </header>

    <div id="main" role="main">
      <%= yield %>
    </div>
  </div> 
</body>
</html>
