<!DOCTYPE html>
<html>
<head>
  <title>Psychlopedia</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container" class="cf">
    <header id="header">
      <nav>
        <ul>
          <li><%= link_to 'Todas las experiencias', experiences_path %></li>
          <li><%= link_to 'Cualquier experiencia', root_path %></li>
          <li><%= link_to 'Agregá una experiencia', new_experience_path %></li>
        </ul>
      </nav>
    </header>

    <div id="main" role="main">
      <%= yield %>
    </div>
  </div> 
</body>
</html>
