<!DOCTYPE html>
<html>
<head>
  <title>Psychlopedia</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container" class="cf">
    <header id="header">
      <nav>
        <ul>
          <li><%= link_to 'Experiencias', experiences_path %></li>
          <li><%= link_to 'Al azar', root_url, accesskey: 'r' %></li>
          <li><%= link_to 'Agregá una', new_experience_path, accesskey: 'c' %></li>
          <li><%= link_to '¿Qué es esto?', about_path, class: 'what' %></li>
          <li><%= link_to 'apagar fondo', '#', class: 'toggle' %><li>
        </ul>
      </nav>
    </header>

    <div id="main" role="main">
      <%= yield %>
    </div>
  </div> 
</body>
</html>
