<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title -%></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Psychlopedia es un archivo digital de experiencias bajo estados alterados de la conciencia.">
    <meta name="keywords" content="reduccion daños psicodelia psicodelicos experiencias farmacovigilancia">
    <meta name="author" content="5vankmajer">
    <meta name="viewport" content="device-width, initial-scale=1, user-scalable=no">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://psychlopedia.herokuapp.com">
    <meta property="og:title" content="Psychlopedia - El ágora del psiconauta.">
    <meta property="og:site_name" content="Psychlopedia">
    <meta property="og:description" content="Psychlopedia es un archivo digital de experiencias bajo estados alterados de la conciencia en español.">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <div id="container" class="cf">
      <header id="header">
        <nav>
          <ul>
            <li><%= link_to t('menu.experiences'), experiences_path, accesskey: 'e' -%></li>
            <li><%= link_to t('menu.add'), new_experience_path, accesskey: 'c' -%></li>
            <li><%= link_to t('menu.what_is_this'), about_path, class: 'what' %></li>
            <li class="footnotes"><%= link_to t('menu.legal'), legal_path -%> · <%= link_to t('menu.privacy'), privacy_path -%></li>
          </ul>
        </nav>
      </header>
      <div id="main" role="main">
        <%= yield %>
      </div>
    </div>
    <script>
      UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/b362QGwgVSMnyEbSJprTw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

      UserVoice.push(['set', {
        accent_color: '#448dd6',
        trigger_color: 'white',
        trigger_background_color: '#6aba2e'
      }]);

      UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);
      UserVoice.push(['autoprompt', {}]);
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50157609-1', 'psychlopedia.herokuapp.com');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript">
      var disqus_shortname = 'psychlopedia';
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
  </body>
</html>
